.cor-logo-secundaria {
    color: #00A0B1;
}

.cor-logo-tercearia {
    color: #E88A10;
}

.cor-logo-primaria {
    color: #006570;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
    color: #00A0B1;
    border-color: #006570;
}

a {
    color: #00A0B1 !important;
}

@media (max-width: 992px){
    .departments .nav-link.active {
        color: #fff !important;
    }
}

.appointment-btn {
    background-color: #00A0B1 !important;
    color: #fff !important;
    border: none !important;
}